<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>regServicio</servlet-name>
        <servlet-class>com.appProveedor.servlet.regServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verPedidos</servlet-name>
        <servlet-class>com.appProveedor.servlet.verPedidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>terminarPedido</servlet-name>
        <servlet-class>com.appProveedor.servlet.terminarPedido</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>regServicio</servlet-name>
        <url-pattern>/regServicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verPedidos</servlet-name>
        <url-pattern>/verPedidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>terminarPedido</servlet-name>
        <url-pattern>/terminarPedido</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>Restricciones Proveedor</display-name>
        <web-resource-collection>
            <web-resource-name>RestProveedor</web-resource-name>
            <description/>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/login.jsp</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>pages</web-resource-name>
            <description/>
            <url-pattern>*.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Prov</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>callcenter</realm-name>
        <form-login-config>
            <form-login-page>/Login.jsp</form-login-page>
            <form-error-page>/Error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>RolProveedores</description>
        <role-name>Prov</role-name>
    </security-role>
    <security-role>
        <description>RolClienteStandard</description>
        <role-name>Clie</role-name>
    </security-role>
</web-app>
