<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>buscarServicios</servlet-name>
        <servlet-class>com.appCliente.servlet.buscarServicios</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>buscarServicios</servlet-name>
        <url-pattern>/buscarServicios</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>RestCliente</display-name>
        <web-resource-collection>
            <web-resource-name>Cliente</web-resource-name>
            <description/>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/Login.jsp</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>pages</web-resource-name>
            <description/>
            <url-pattern>/dataError.jsp</url-pattern>
            <url-pattern>/successQueryProveedores.jsp</url-pattern>
            <url-pattern>/successQueryServicios.jsp</url-pattern>
            <url-pattern>/successSaveCliente.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Clie</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>callcenter</realm-name>
        <form-login-config>
            <form-login-page>/Login.jsp</form-login-page>
            <form-error-page>/Error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>RolClientes</description>
        <role-name>Clie</role-name>
    </security-role>
</web-app>
